.albumNoteContainer {
    flex-grow: 3;
    min-width: 50%;
    max-width: 80%;
    min-height: 300px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      to bottom right,
      var(--gradient-1),
      var(--gradient-2),
      var(--gradient-3),
      var(--gradient-4),
      var(--gradient-1)
    );
  }
  
  .albumNote {
    background: black;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
  }

  .profileInfo {
      background: pink;
  }

  .reviewInfo {
        background: grey;
        margin: 2em;
  }
  