.favAlbumsContainer {
    position: absolute;
    background: black;
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}