/* header */
.header {
    width: 100%;
}

.banner {
    margin-bottom: 1em;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}

.bannerEntry {
    padding: 20px;
}

.bannerEntry a {
    color: var(--content-text);
}

.bannerLeft {
    float: left;
}

/*body*/

.body {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: #fefefa;
    line-height: 150%;
    font-size: 13pt;
  
    background: black
  }

.contentContainer{
    background: linear-gradient(to bottom right, var(--gradient-1), var(--gradient-2), var(--gradient-3), var(--gradient-4), var(--gradient-1));
    padding: 1em;
    height: 70em;
  }
  
.mainContainer {
    height: 85%;
    background-color: black;
  }