.albumPageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding: 10px;
  }
  
  .albumInfoContainer {
    flex-grow: 1;
    max-width: 40%;
    min-width: 400px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .albumInfoContainer img {
    width: 49%;
    height: auto;
  }
  
  .albumInfo {
    text-align: center;
  }
  
  .albumInfo h2 {
  }
  
  .albumInfo h3 {
  }
  
  .albumNoteContainer {
    flex-grow: 3;
    min-width: 50%;
    max-width: 80%;
    min-height: 300px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      to bottom right,
      var(--gradient-1),
      var(--gradient-2),
      var(--gradient-3),
      var(--gradient-4),
      var(--gradient-1)
    );
  }
  
  .albumNote {
    background: black;
    width: 100%;
    height: 100%;
  }
  