.searchMenuContainer {
   margin: 12px 0px;


  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchMenuTitle {
  font-family: "Bahnschrift", Times, serif;
  font-style: normal;

  font-weight: 600;
  font-size: max(1.5vw, 15px);
}
.searchMenu {
  margin: 15px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchMenuItem {
  width: 100%;
  margin: 7px 0px;
}

.searchButtonContainer {
  margin: 7px 0px;

  display: flex;
  flex-direction: row;
}

.searchButtonContainer > button {
  margin: 0px 5px;
}