/*html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
*/



:root {
  --linear-blend-2: radial-gradient(36.8% 36.8% at 72.7% 35.7%, rgba(181, 0, 165, 0.175) 0%, rgba(38, 98, 213, 0.25) 100%), linear-gradient(141.19deg, rgba(89, 70, 178, 0.89) 19.44%, rgba(251, 77, 70, 0.7031) 38.71%, rgba(255, 0, 217, 0.5963) 61.22%, rgba(89, 70, 178, 0.89) 80.2%), linear-gradient(237.02deg, rgba(128, 0, 128, 0.9604) 20.94%, rgba(173, 0, 159, 0.894643) 35.07%, rgba(255, 0, 217, 0.7742) 59.64%, rgba(89, 70, 178, 0.98) 82.16%);


  --background-black: #000000;
  --content-title: #9370db;

  --gradient-1: #800080;
  --gradient-2: #5946b2;
  --gradient-3: #FF00D9;
  --gradient-4: #fb4d46;

  --custom-purple: #8806ce;

  --test1: #D04471;
  --content-text: #fefefa;
  --content-title: #9370db;

  --light-grey: #eae7e6;
  --dark-grey: #57605f;
  --orange: #bf5700;
  --light-orange: #ffa700;
  --shadow-color: #000000aa;
}

* presets */
* {
  box-sizing: border-box;
}

/* body {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #fefefa;
  line-height: 150%;
  font-size: 13pt;

  background: black
} */

a {
  color: inherit;
  font-style: normal;
  font-size: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

